<div class="container">
  <div class="card">
    <div class="card-header">
      <p>
        <mat-icon>person</mat-icon>
        قائمة المدربين
      </p>
      <button mat-raised-button color="primary" routerLink="/add_former">
        <mat-icon>add</mat-icon> إضافة مدرب
      </button>
      <mat-form-field class="search">
        <mat-label>البحث</mat-label>
        <input matInput (keyup)="applyFilter($event)" [(ngModel)]="search" placeholder="مثال: ium" #input>
      </mat-form-field>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <div class="alert alert-danger" *ngIf="errMessage">{{ errMessage }}</div>
        <div class="alert alert-success" *ngIf="successMessage">{{ successMessage }}</div>
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="fullname">
            <th mat-header-cell *matHeaderCellDef> الاسم الكامل </th>
            <td mat-cell *matCellDef="let element"> {{ element.fullname }}
            </td>
          </ng-container>

          <ng-container matColumnDef="speciality">
            <th mat-header-cell *matHeaderCellDef> التخصص </th>
            <td mat-cell *matCellDef="let element"> {{ element.speciality }} </td>
          </ng-container>

          <ng-container matColumnDef="direction">
            <th mat-header-cell *matHeaderCellDef> الاتجاه </th>
            <td mat-cell *matCellDef="let element"> {{ element.direction }} </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>الإجراءات</th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="accent" (click)="openUpdateDialog(element)">
                <mat-icon>update</mat-icon>
              </button>
              <button mat-icon-button color="success" (click)="deleteFormer(element.former_id)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="اختر الصفحة">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
